.hamburger-toggle {
    font-size: 28px;
    font-weight: 700;
    vertical-align: middle;
    margin-right: 10px;
    border: 1px solid #e6e6e6;
    padding: 5px 7px;
    cursor: pointer;
    margin-left: 10px;
    user-select: none;
    display: none;
    width: 40px;
    height: 35px;
    position: relative;
}
.e-mobile-menu__hamburger__block {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #000;
    position: absolute;
    -webkit-transition: top 0.2s 0.1s, bottom 0.2s 0.1s, opacity 0.2s 0s, background-color 0.2s 0s, -webkit-transform 0.2s 0s;
    transition: top 0.2s 0.1s, bottom 0.2s 0.1s, opacity 0.2s 0s, background-color 0.2s 0s, -webkit-transform 0.2s 0s;
    transition: top 0.2s 0.1s, bottom 0.2s 0.1s, opacity 0.2s 0s, transform 0.2s 0s, background-color 0.2s 0s;
    transition: top 0.2s 0.1s, bottom 0.2s 0.1s, opacity 0.2s 0s, transform 0.2s 0s, background-color 0.2s 0s, -webkit-transform 0.2s 0s;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}
.e-mobile-menu__hamburger__block:nth-child(1) {
    top: 0.6rem;
}
.e-mobile-menu__hamburger__block:nth-child(2) {
    top: 1.2rem;
}
.e-mobile-menu__hamburger__block:nth-child(3) {
    bottom: 0.6rem;
}
.hamburger-toggle.active .e-mobile-menu__hamburger__block {
    -webkit-transition: top 0.2s, bottom 0.2s, opacity 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
    transition: top 0.2s, bottom 0.2s, opacity 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
    transition: top 0.2s, bottom 0.2s, opacity 0.2s 0.2s, transform 0.2s 0.2s;
    transition: top 0.2s, bottom 0.2s, opacity 0.2s 0.2s, transform 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
}
.hamburger-toggle.active {
    color: #fff;
    border: none;
    z-index: 11111;
}
.hamburger-toggle.active .e-mobile-menu__hamburger__block:nth-child(1) {
    transform: rotate(45deg);
    top: 1.25rem;
    background-color: #fff;
}
.hamburger-toggle.active .e-mobile-menu__hamburger__block:nth-child(2) {
    opacity: 0;
}
.hamburger-toggle.active .e-mobile-menu__hamburger__block:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 1.3rem;
    background-color: #fff;
}
.hamburger-toggle i {
    color: #333;
}
@media all and (max-width: 992px) {
    .hamburger-toggle {
        display: inline-block;
    }
}
@media all and (max-width: 767px) {
    .hamburger-toggle {
        margin-top: 0;
    }
}
